---
const fruits = [
	{ name: 'Abacaxi', price: '5.99',id: 'pinneaple' },
	{ name: 'Banana', price: '3.49', id: 'banana' },
	{ name: 'Abacate', price: '6.89', id: 'avocado' },
	{ name: 'Maçã', price: '4.79', id: 'apple' },
	{ name: 'Pêra', price: '5.49', id: 'pear' }
];
---

<div id="fruits" style="display: none">
	<h2 style="text-align: center; font-size: 36px; font-weight: 600; margin-top: 100px; margin-bottom: 50px;">
		Qual fruta está sendo pesada na balança hortifruti?
	</h2>
	<div style="display: flex; align-items: center; justify-content: center; margin: 20px; gap: 10px; overflow: hidden;">
		<button id="prevBtn" style="font-size: 40px; background: none; border: none; cursor: pointer;">‹</button>
		<div id="carousel" style="display: flex; transition: transform 0.3s ease-in-out; gap: 16px; overflow-x: auto; scroll-behavior: smooth;">
			{fruits.map(fruit => {
				return (
					<div data-fruit-name={fruit.name} data-fruit-price={fruit.price} class="fruit-card" style="min-width: 180px; max-width: 180px; border: 1px solid #ccc; text-align: center; padding: 10px; background: white; cursor: pointer;">
						<img src={`${fruit.id}.png`} alt={fruit.name} style="width: 100%; height: 150px; object-fit: fill; " />
						<h3 style="font-size: 20px; margin: 10px 0 5px 0;">{fruit.name}</h3>
						<p style="font-size: 18px; font-weight: bold;">R$ {fruit.price}</p>
					</div>
					)
					})}
		</div>
		<button id="nextBtn" style="font-size: 40px; background: none; border: none; cursor: pointer;">›</button>
		</div>
</div>

